<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "darkworld.explosive_noob12345.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Dark World]</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://scratch.mit.edu/users/Explosive_Noob12345" email="rtom613372">
        Explosive_Noob12345
    </author>

</widget>
